# Binaries
chimu-server
chimu-server-linux
*.exe
*.exe~
*.dll
*.so
*.dylib
data/*.db
data/*.db-journal

# Dependencies
node_modules/
vendor/

# Build artifacts
dist/
web/dist/

# OS and IDE files
.DS_Store
.idea/
.vscode/
# Environment files
.env
.env.local

*.log
